[submodule "escapegoat"]
	path = escapegoat
	url = ssh://aur/escapegoat.git
[submodule "farragone"]
	path = farragone
	url = ssh://aur/farragone.git
[submodule "flashplayer-standalone-debug"]
	path = flashplayer-standalone-debug
	url = ssh://aur/flashplayer-standalone-debug.git
[submodule "gcedit"]
	path = gcedit
	url = ssh://aur/gcedit.git
[submodule "jsession"]
	path = jsession
	url = ssh://aur/jsession.git
[submodule "lib32-libbass"]
	path = lib32-libbass
	url = ssh://aur/lib32-libbass.git
[submodule "pwrnotify"]
	path = pwrnotify
	url = ssh://aur/pwrnotify.git
[submodule "sokobond"]
	path = sokobond
	url = ssh://aur/sokobond.git
[submodule "ytsubs"]
	path = ytsubs
	url = ssh://aur/ytsubs.git
[submodule "zb-fetcher"]
	path = zb-fetcher
	url = ssh://aur/zb-fetcher.git
[submodule "xorg-choose-window"]
	path = xorg-choose-window
	url = ssh://aur/xorg-choose-window.git
[submodule "tellmewhen"]
	path = tellmewhen
	url = ssh://aur/tellmewhen.git
[submodule "dustforce-hib-dustmod"]
	path = dustforce-hib-dustmod
	url = ssh://aur/dustforce-hib-dustmod.git
[submodule "pyroom"]
	path = pyroom
	url = ssh://aur/pyroom.git
[submodule "cosmic-express"]
	path = cosmic-express
	url = ssh://aur/cosmic-express.git
[submodule "pacman-expire-cache"]
	path = pacman-expire-cache
	url = ssh://aur/pacman-expire-cache.git
[submodule "fdlinecombine"]
	path = fdlinecombine
	url = ssh://aur/fdlinecombine.git
[submodule "gw2-tools"]
	path = gw2-tools
	url = ssh://aur/gw2-tools.git
[submodule "curlftpfs-ng"]
	path = curlftpfs-ng
	url = ssh://aur/curlftpfs-ng.git
[submodule "tvheadend-safe-restart"]
	path = tvheadend-safe-restart
	url = ssh://aur/tvheadend-safe-restart.git
[submodule "python-pyepgdb"]
	path = python-pyepgdb
	url = ssh://aur/python-pyepgdb.git
[submodule "python-gw2buildutil"]
	path = python-gw2buildutil
	url = ssh://aur/python-gw2buildutil.git
[submodule "arcdps-log-manager"]
	path = arcdps-log-manager
	url = ssh://aur/arcdps-log-manager.git
